<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="EApp" type="Eagle.Core.Configuration.EAppConfigurationSection, Eagle.Core"/>

    <section name="EAppData" type="Eagle.Data.Configuration.EAppDataConfigurationSection, Eagle.Data"/>

    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>

  </configSections>

  <EApp>

    <application provider="Eagle.Core.Application.App, Eagle.Core"/>

    <objectContainer provider="Eagle.Core.IoC.UnityObjectContainerFactory, Eagle.Core" initFromConfigFile="true" file="Eagle.Tests.dll.config" sectionName="unity"/>

    <logger provider=""/>

    <serializationFormats default="Json">

      <format name="XML" type="Eagle.Common.Serialization.ObjectXmlSerializer, Eagle.Common"/>

      <format name="Json" type="Eagle.Common.Serialization.ObjectJsonSerializer, Eagle.Common"/>

    </serializationFormats>

    <handlers>
      <handler name="PostPublishCommand" type="Eagle.Tests.Commands.PostPublishCommandHandler, Eagle.Tests.Commands" kind="Command"/>
    </handlers>

  </EApp>

  <EAppData>

    <entityMappings>

      <add name="ExpressLife" file="..\\..\\..\\EntityMappingConfig.xml"/>

    </entityMappings>

  </EAppData>

  <connectionStrings>

    <clear/>

    <add name="Dapper_SqlServer" providerName="System.Data.SqlClient" connectionString="server=localhost\OSPTTEST;database=EXPRESSLIFE;User ID=sa;Password=3Edcvfr4567ujmnb"/>
    
    <add name="SqlServer" providerName="Eagle.Data.SqlServer.SqlServerDbProvider, Eagle.Data" connectionString="server=localhost\OSPTTEST;database=EXPRESSLIFE;User ID=sa;Password=3Edcvfr4567ujmnb"/>

    <add name="MySql" providerName="Eagle.Data.MySql.MySqlDbProvider, Eagle.Data" connectionString="User ID=root;Password=myPassword;Host=localhost;Port=3306;Database=myDataBase; Direct=true;Protocol=TCP;Compress=false;Pooling=true;Min Pool Size=0;Max Pool Size=100;Connection Lifetime=0;"/>

  </connectionStrings>

  <unity>
    <container>

      <register type="Eagle.Domain.Commands.ICommandHandlerProvider, Eagle.Domain" mapTo="Eagle.Domain.Commands.ConfigSourceCommandHandlerProvider, Eagle.Domain">
        <lifetime type="perthread"/>
      </register>

      <register type="Eagle.Domain.Commands.ICommandDispatcher, Eagle.Domain" mapTo="Eagle.Domain.Commands.CommandDispatcher, Eagle.Domain">
        <lifetime type="singleton"/>
      </register>

      <register type="Eagle.Domain.Bus.ICommandBus, Eagle.Domain" mapTo="Eagle.Domain.Bus.CommandBus, Eagle.Domain"></register>

      <register type="Eagle.Tests.ServiceContracts.IPostCommandService, Eagle.Tests.ServiceContracts" mapTo="Eagle.Tests.Application.PostCommandService, Eagle.Tests.Application"></register>

      <!--<register type="Eagle.Domain.Repositories.IRepositoryContext, Eagle.Domain" mapTo="Eagle.Repositories.Sql.SqlRepositoryContext, Eagle.Repositories.Sql">
        <lifetime type="perthread"/>
      </register>-->

      <register type="Eagle.Domain.Repositories.IRepositoryContext, Eagle.Domain" mapTo="Eagle.Repositories.Dapper.DapperRepositoryContext, Eagle.Repositories.Dapper">
        
        <constructor>
          <param name="providerName" value="System.Data.SqlClient"/>
          <param name="connectionString" value="server=localhost\OSPTTEST;database=EXPRESSLIFE;User ID=sa;Password=3Edcvfr4567ujmnb"/>
        </constructor>
        
        <lifetime type="perthread"/>
      </register>

      <register type="Eagle.Tests.Domain.Repositories.ITopicRepository, Eagle.Tests.Domain" mapTo="Eagle.Tests.Repositories.DapperTopicRepository, Eagle.Tests.Repositories">
        
      </register>
      
      <register type="Eagle.Tests.Domain.Repositories.IUserRepository, Eagle.Tests.Domain" mapTo="Eagle.Tests.Repositories.DapperUserRepository, Eagle.Tests.Repositories"/>
      
      <register type="Eagle.Tests.Domain.Repositories.IPostRepository, Eagle.Tests.Domain" mapTo="Eagle.Tests.Repositories.DapperPostRepository, Eagle.Tests.Repositories">
        <lifetime type="perthread"/>
      </register>

      <register type="Eagle.Tests.Domain.Repositories.ICommentRepository, Eagle.Tests.Domain" mapTo="Eagle.Tests.Repositories.DapperCommentRepository, Eagle.Tests.Repositories"/>
      
      <register type="Eagle.Tests.Domain.Services.IDomainService, Eagle.Tests.Domain" mapTo="Eagle.Tests.Domain.Services.DomainService, Eagle.Tests.Domain"/>
      
      <register type="Eagle.Tests.ServiceContracts.IPostService, Eagle.Tests.ServiceContracts" mapTo="Eagle.Tests.Application.PostService, Eagle.Tests.Application"/>

      <register type="Eagle.Domain.Events.IDomainEventHandler`1[[Eagle.Tests.Domain.Events.PostDomainEvent, Eagle.Tests.Domain]], Eagle.Domain" mapTo="Eagle.Tests.Domain.Events.PostDomainEventHandler, Eagle.Tests.Domain"></register>

    </container>
  </unity>

  <startup>
  
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>

</configuration>
